[Unit]
Description=led_control
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/opt/led_control
ExecStart=sudo python3 /opt/led_control/start.py

[Install]
WantedBy=multi-user.target
